{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}
{% load jformat %}

    <title>پیام ها | فروشگاه موبایل</title>
    </head>
    <body>

        {% block header %}
        {% include "base/header.html" %}
        {% endblock %}

        <div class="container">
            <div class="whole-card">
                <div class="row">
                    <div class="col-12">
                        <div class="dashboard-item-title orders-title">
                            <a href="{% url 'market:dashboard' %}">
                                <i class="fas fa-long-arrow-right"></i>
                            </a>
                            <h4>
                                پیام ها
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="factor-table overflow-x-scroll">
                            <div class="card-titles">
                                <div class="row flex-nowrap">
                                    <div class="col-1">#</div>
                                    <div class="col-md-2 col-3">عنوان</div>
                                    <div class="col-md-4 col-4">متن</div>
                                    <div class="col-3">تاریخ و ساعت</div>
                                    <div class="col-2">وضعیت</div>
                                </div>
                            </div>
                            <div class="card-product-detail">
                                <div class="card-product-detail-item">
                                    {% for item in messages %}
                                        <div class="single-message">
                                            <div class="row align-items-center flex-nowrap">
                                                <div class="col-1">
                                                    <div class="factor-table-col">
                                                        {{ forloop.counter }}
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-3">
                                                    <div class="factor-table-col title">
                                                        <a href="{% url 'market:message' item.id %}">
                                                            {{ item.title }}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <div class="factor-table-col text-right">
                                                        {{ item.summary }}
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    {{ item.datetime | jformat:"%H:%M %Y/%m/%d" }}
                                                </div>
                                                <div class="col-2 message-status">
                                                    {% for x in item.users%}
                                                        {% if x.userID == request.user.id %}
                                                            {% if x.seen == '1' %}
                                                                <i class="fas fa-envelope-open" title="خوانده شده"></i>
                                                            {% else %}
                                                                <i class="fas fa-envelope" title="خوانده نشده"></i>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
        {% include "base/footer.html" %}
        {% endblock %}

{% block foot %}
{% include "base/foot.html" %}
{% endblock %}