{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}
{% load jformat %}

    <title>پیام | فروشگاه موبایل</title>
    </head>
    <body>

        {% block header %}
        {% include "base/header.html" %}
        {% endblock %}

        <div class="container">
            <div class="whole-card message text-right">
                <div class="row">
                    <div class="col-12">
                        <div class="dashboard-item-title orders-title">
                            <a href="{% url 'market:messages' %}">
                                <i class="fas fa-long-arrow-right"></i>
                            </a>
                            <h4>
                                پیام
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="message-title">
                            <h5>
                                {{message.title}}
                            </h5>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="message-date">
                            <span class="title">
                                تاریخ و ساعت پیام:
                            </span>
                            &nbsp;
                            <span class="value">
                                {{ message.datetime | jformat:"%H:%M %Y/%m/%d" }}
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="message-text">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
        {% include "base/footer.html" %}
        {% endblock %}

{% block foot %}
{% include "base/foot.html" %}
{% endblock %}

<script>
    var message_id = '{{message.id}}';


    $(document).ready( function () {
        $.ajax (
            {
                type: 'POST',
                url: '{% url "market:changeMessageStatus" %}',
                data: {
                    id: message_id,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    console.log(json);
                    console.log(json.status);
                    if (json.status)
                    {
                        console.log(json.message);
                    }
                    else {
                        console.log(json.error);
                    }
                },
                error: function (json) {
                    console.log(json);
                    console.log(json.status);
                    console.log(json.error);
                }
            }
        )
    })
</script>