{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

    <title>پیام | فروشگاه موبایل</title>
    </head>
    <body>

        {% block header %}
        {% include "base/header.html" %}
        {% endblock %}

        <div class="container">
            <div class="whole-card message text-right">
                <div class="row">
                    <div class="col-12">
                        <div class="dashboard-item-title orders-title">
                            <a href="{% url 'messages' %}">
                                <i class="fas fa-long-arrow-right"></i>
                            </a>
                            <h4>
                                پیام
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="message-title">
                            <h5>
                                عنوان عنوان عنوان
                            </h5>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="message-date">
                            <span class="title">
                                تاریخ و ساعت پیام:
                            </span>
                            &nbsp;
                            <span class="value">
                                1399/09/25
                                &nbsp;
                                12:40
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="message-text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
        {% include "base/footer.html" %}
        {% endblock %}

{% block foot %}
{% include "base/foot.html" %}
{% endblock %}