{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>جزئیات سفارش {{orderID}} | فروشگاه موبایل</title>
</head>
<body>

    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <div class="container">
        <div class="whole-card text-right">
            <div class="row">
                <div class="col-12">
                    <div class="dashboard-item-title orders-title justify-content-between">
                        <div class="d-flex">
                            <a href="{% url 'market:orders' %}">
                                <i class="fas fa-long-arrow-right"></i>
                            </a>
                            <h4>
                                جزئیات سفارش
                            </h4>
                        </div>
                        {% if factor.status == 0 %}
                            <div class="btn btn-warning">
                                در انتظار پرداخت
                            </div>
                        {% elif factor.status == 1%}
                            <div class="btn btn-info">
                                در حال پردازش
                            </div>
                        {% elif factor.status == 3%}
                            <div class="btn btn-success">
                                تحویل داده شده
                            </div>
                        {% elif factor.status == 4%}
                            <div class="btn btn-danger">
                                لغو شده
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 d-flex">
                    <div class="order-des order-id">
                        شماره فاکتور :
                        <span>{{factor.number}}</span>
                    </div>
                    <div class="order-des order-date">
                        {{factor.get_orderdate_to_jalali}}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 d-flex">
                    <div class="order-detail-item">
                        <span class="title">
                            تحویل گیرنده:
                        </span>
                        <span class="value name">
                            <span>
                                {{factor.FK_User.first_name}} 
                            </span>
                            <span>
                                {{factor.FK_User.last_name}}
                            </span>
                        </span>
                    </div>
                    <div class="order-detail-item">
                        <span class="title">
                            شماره تماس:
                        </span>
                        <span class="value">
                            {{factor.address.mobile}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="order-detail-item">
                        <span class="title">
                            آدرس:
                        </span>
                        <span class="value">
                            {{factor.address.state}} - {{factor.address.city}} - {{factor.address.address}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="order-products m-3 w-100">
                    {% for item in factor.items.items %}
                        <div class="col-12 order-product">
                            <div class="row align-items-center">
                                <div class="col-md-2 col-4">
                                    <a href="{% url 'market:product' item.id.slug %}">
                                        <img src="{{item.id.index_image.url}}" alt="عکس محصول">
                                    </a>
                                    <span class="product-count">
                                        <span>
                                            {{item.count}}
                                        </span>
                                        &times;
                                    </span>
                                </div>
                                <div class="col-md-10 col-8">
                                    <div class="product-detail product-title">
                                        {{item.title}}
                                    </div>
                                    <div class="product-detail product-color d-flex align-items-center">
                                        <div class="color-square" style="background: {{item.color_value}}"></div>
                                        <div class="color-name">
                                            {{item.color}}
                                        </div>
                                    </div>
                                    <div class="product-detail product-guarantee">
                                        <i class="far fa-shield-check"></i>
                                        {{item.guarantee}}
                                    </div>
                                    <div class="product-detail product-price">
                                        <span class="single-price">
                                            قیمت واحد:
                                        </span>
                                        <span class="split-number">
                                            {{item.price}}
                                        </span>
                                        تومان
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="final-factor text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="factor-table">
                            <div class="card-titles">
                                <div class="row">
                                    <div class="col-4">مجموع کالا</div>
                                    <div class="col-4">هزینه ارسال</div>
                                    <div class="col-4">جمع کل</div>
                                </div>
                            </div>
                            <div class="card-product-detail">
                                <div class="card-product-detail-item">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <div class="factor-table-col items-total-price">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="factor-table-col">
                                                <span class="split-number">
                                                    {{factor.post_price}}
                                                </span>
                                                تومان
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="factor-table-col total-price-col">
                                                <span class="split-number">
                                                    {{factor.total_price}}
                                                </span>
                                                تومان
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}

<script>
    $(document).ready(function () {
        var post_price = parseInt('{{factor.post_price}}');
        var total_price = parseInt('{{factor.total_price}}');
        var items_price = total_price - post_price;
        $(".items-total-price").html('<span class="split-number">' + items_price + '</span> تومان');
        $(".split-number").digits();
    })
</script>