<footer>
    <div class="footer">
        <div class="iran-rules">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            این سایت تابع قوانین جمهوری اسلامی ایران می‌باشد 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
                        <div class="useful-links">
                            <h6>لینک های مفید</h6>
                            <a href="{{BASE_URL}}/">خانه</a>
                            <a href="{% url 'blog:blog_index' %}">وبلاگ</a>
                            <a href="{% url 'market:compare' %}">مقایسه</a>
                            <a href="{% url 'market:rules' %}">قوانین و ضوابط</a>
                            <a href="{% url 'market:contact-us' %}">تماس با ما</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
                        <div class="last-blog-posts" id="last-posts">
                            <h6>آخرین پست های وبلاگ</h6>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
                        <div class="last-comments">
                            <h6>آخرین نظرات</h6>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 social-network">
                        <a href="#"><i class="fab fa-google-plus-g fa-4x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-4x"></i></a>
                        <a href="#"><i class="fab fa-telegram fa-4x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-4x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12 copyright-text">
                        <p>
                            © 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:lastComments" %}',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    for (var item of json.comments)
                    {
                        jQuery.each(item , function(key, val) {
                            var summaryval = val.substring(0, 70);
                            $(".last-comments").append('' +
                            '<p class="comment-summary">' +
                                '<i class="fal fa-comment"></i>' +
                                summaryval + '...' +
                            '</p>' +
                            '<p class="comment-user">' +
                                '<i class="fas fa-user"></i>' +
                                key +
                            '</p>'
                            )
                        })
                    }
                },
                error: function (json) {
                    console.log(json)
                }
            }
        )
        // $.ajax (
        //     {
        //         method: 'POST',
                // url: '{.% url "market:lastBlogPosts" %.}',
        //         data: {
        //             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        //             action: 'post'
        //         },
        //         success: function (json) {
        //             for (var item of json.comments)
        //             {
        //                 jQuery.each(item , function(key, val) {
        //                     var summaryval = val.substring(0, 50);
        //                     $(".last-comments").append('' +
        //                     '<p class="comment-summary">' +
        //                         '<i class="fal fa-comment"></i>' +
        //                             val + '...' +
        //                     '</p>' +
        //                     '<p class="comment-user">' +
        //                         '<i class="fas fa-user"></i>' +
        //                         key +
        //                     '</p>'
        //                     )
        //                 })
        //             }
        //         },
        //         error: function (json) {
        //             console.log(json)
        //         }
        //     }
        // )
    })
</script>

<script>
    $(document).ready(function () {
        var baseURL = '{{BASE_URL | safe }}';
        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:lastPosts" %}',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    console.log(json)
                    for (var item of json.posts)
                    {
                        jQuery.each(item , function(key, val) {
                            console.log(item, key, val);
                            var summaryval = val.substring(0, 70);
                            // <a href="#">
                            //     <p>
                            //         <i class="fal fa-blog"></i>
                            //         لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده...
                            //     </p>
                            // </a>
                            $("#last-posts").append('' +
                            '<a href="' + baseURL + key + '"">' +
                                '<p>' + 
                                    '<i class="fal fa-blog"></i>' +
                                    summaryval + '...' +
                                '</p>' +
                            '</a>'
                            )
                        })
                    }
                },
                error: function (json) {
                    console.log(json)
                }
            }
        )
    })
</script>