{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>سبد خرید | فروشگاه موبایل</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-1 whole-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-title">
                                <h5>
                                    سبد خرید
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-table">
                        <div class="card-titles">
                            <div class="row flex-nowrap">
                                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">محصول</div>
                                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-3">توضیحات</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">قیمت واحد</div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">تعداد</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">قیمت مجموع</div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                            </div>
                        </div>
                        <div class="card-product-detail">
                            {%if factorItems|length != 0%}
                                {% for item in factorItems %}
                                    <div val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="card-product-detail-item">
                                        <div class="row flex-nowrap align-items-center">
                                            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">
                                                <a href="{% url 'market:product' item.id.slug %}">
                                                    <img src="{{item.id.index_image.url}}" alt="محصول">
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-3">
                                                {{item.title}} -
                                                {{item.color}} -
                                                {{item.guarantee}}
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                                <span class="split-number">{{item.price}}</span><span> تومان</span>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                                                <div class="count-part">
                                                    <div val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="add-sub add">
                                                        <i class="far fa-plus"></i>
                                                    </div>
                                                    <div val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="main-count">
                                                        {{item.count}}
                                                    </div>
                                                    <div val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="add-sub sub">
                                                        <i class="far fa-minus"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                                <span val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="total-price-num split-number">{{item.total_price}}</span><span> تومان</span>
                                            </div>
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <button val="{{item.id.id}}" val2="{{item.color}}" val3="{{item.guarantee}}" class="btn btn-danger delete-factor-item-btn">
                                                    حذف
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert-message error-message back mt-3 mb-3">
                                    <div class="alert-message-content error-content">
                                        <i class="fas fa-exclamation-circle"></i>
                                        <div class="alert-message-text error-text">
                                            هیچ محصولی درون سبد خرید وجود ندارد!
                                        </div>
                                    </div>
                                    <div class="close-message close-error-message">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                            {% endif %}        
                        </div>
                    </div>
                    <div class="off-code total-price">
                        <div class="row align-items-center justify-content-center">
                            <!-- <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="off-code-title">
                                    <span>
                                        در صورت در اختیار داشتن کد تخفیف در کادر مقابل وارد نموده و اعمال کنید:
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12 col-12">
                                <div class="d-flex off-code-input-form justify-content-center">
                                    <input type="text" class="form-control" name="off-code" placeholder="کد تخفیف">
                                    <button class="btn btn-info">اعمال کد تخفیف</button>
                                </div>
                            </div> -->
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="total-price-div">
                                    <p>
                                        جمع کل :
                                    </p>
                                    <p>
                                        <span class="split-number total-factor-price">
                                            {{totalFactorPrice}}
                                        </span>
                                        تومان
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-order">
                        <div class="row justify-content-end text-left align-items-center mt-3">
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12">
                                <div class="warning-message">
                                    <i class="fas fa-info-circle"></i>
                                    کاربر گرامی لطفاً توجه داشته باشید : 
                                    ثبت سفارش در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است. برای مطالعه
                                <a href="{% url 'market:rules' %}">شرایط و قوانین</a>
                                    کلیک کنید.
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">
                                {% if factorItems|length != 0 %}
                                <button class="btn btn-success w-100 submit-order">
                                    ثبت سفارش
                                    <i class="fal fa-angle-left"></i>
                                </button>
                                {% else %}
                                <button disabled class="btn btn-success w-100 submit-order">
                                    ثبت سفارش
                                    <i class="fal fa-angle-left"></i>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-sections section-2 whole-card information-card text-right">
                    <div class="information-card-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-title text-center">
                                    <h5>
                                        مشخصات
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-center">
                            <div class="col-12">
                                <div class="alert-message error-message front mt-3 mb-3 empty-info">
                                    <div class="alert-message-content error-content">
                                        <i class="fas fa-exclamation-circle"></i>
                                        <div class="alert-message-text error-text">
                                            اطلاعات الزامی را تکمیل نمائید!
                                        </div>
                                    </div>
                                    <div class="close-message close-error-message">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item first">
                                    <label for="fname">نام</label><code>*</code>
                                    <input value="{{request.user.first_name}}" id="fname" class="form-control" type="text" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item last">
                                    <label for="lname">نام خانوادگی</label><code>*</code>
                                    <input value="{{request.user.last_name}}" id="lname" class="form-control" type="text" placeholder="نام خانوادگی">
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item first">
                                    <label for="lname">استان</label><code>*</code>
                                    <input value="{{request.user.address.state}}" id="state" class="form-control" type="text" placeholder="استان">
                                </div>
                            </div>
                            <!-- <div class="col-6">
                                <label for="township">شهرستان</label>
                                <input id="township" class="form-control" type="text" placeholder="شهرستان">
                            </div> -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item last">
                                    <label for="city">شهر</label><code>*</code>
                                    <input value="{{request.user.address.city}}" id="city" class="form-control" type="text" placeholder="شهر">
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item first">
                                    <label for="cell-number">شماره همراه</label><code>*</code>
                                    <input value="{{request.user.mobile}}" id="cell-number" class="form-control" type="number" placeholder="شماره همراه">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                                <div class="information-item last">
                                    <label for="phone-number">شماره ثابت</label>
                                    <input value="{{request.user.phone}}" id="phone-number" class="form-control" type="number" placeholder="شماره ثابت">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div class="information-item last">
                                    <label for="pre-phone">پیش شماره</label>
                                    <input value="{{request.user.citypercode}}" id="pre-phone" class="form-control" type="number" placeholder="پیش شماره">
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-center">
                            <div class="col-12">
                                <div class="information-item">
                                    <label for="address">آدرس</label><code>*</code>
                                    <input value="{{request.user.address.address}}" id="address" class="form-control" type="text" placeholder="آدرس">
                                </div>
                            </div>
                        </div>
                        <div class="form-row information-form-row justify-content-between align-items-end">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="information-item first">
                                    <label for="postal-code">کد پستی</label><code>*</code>
                                    <input value="{{request.user.address.zipcode}}" id="postal-code" class="form-control" type="number" placeholder="کد پستی">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 text-left">
                                <button class="btn btn-success w-100 information-next">
                                    مرحله بعد
                                    <i class="fal fa-angle-left"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-sections section-3 whole-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-title">
                                <h5>
                                    پرداخت نهایی
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="final-factor">
                        <div class="row">
                            <div class="col-12">
                                <div class="factor-table">
                                    <div class="card-titles">
                                        <div class="row">
                                            <div class="col-4">مجموع کالا</div>
                                            <div class="col-4">هزینه ارسال</div>
                                            <div class="col-4">جمع کل</div>
                                        </div>
                                    </div>
                                    <div class="card-product-detail">
                                        <div class="card-product-detail-item">
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <div class="factor-table-col factor-items-price">
                                                       <span class="split-number">
                                                        
                                                        </span>
                                                        تومان
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="factor-table-col factor-post-price">
                                                        <span class="split-number">
                                                            29000
                                                        </span>
                                                        تومان
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="factor-table-col total-price-col factor-total-price">
                                                        <span class="split-number">
                                                            4829000
                                                        </span>
                                                        تومان
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="pay-post">
                                    <div class="pay-post-title">
                                        پست
                                    </div>
                                    <div class="pay-post-options">
                                        <div class="radio pay-post-option">
                                            <label>
                                                <input id="fast-post" type="radio" name="postradio" val="29000" checked>
                                                <span>
                                                    پست پیشتاز : تحویل 2 الی 3 روزه
                                                    <br>
                                                    هزینه ارسال : 
                                                    <span class="split-number">
                                                        29000
                                                    </span>
                                                    تومان
                                                </span>
                                            </label>
                                            <i class="fal fa-plane"></i>
                                        </div>
                                        <div class="radio pay-post-option">
                                            <label>
                                                <input id="normal-post" type="radio" val="12000" name="postradio">
                                                <span>
                                                    پست معمولی : تحویل طی 5 روز کاری
                                                    <br>
                                                    هزینه ارسال :
                                                     <span class="split-number">
                                                         12000 
                                                    </span>
                                                     تومان
                                                </span>
                                            </label>
                                            <i class="fal fa-truck-moving"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="pay-post">
                                    <div class="pay-post-title">
                                        پرداخت
                                    </div>
                                    <div class="pay-post-options">
                                        <div class="radio pay-post-option">
                                            <label>
                                                <input type="radio" name="payradio" checked>
                                                <span>
                                                    پرداخت از طریق درگاه بانک ملت
                                                </span>
                                            </label>
                                            <div class="bank-logo">
                                                <img src="{% static "images/Bank-Mellat.png" %}" alt="لوگو بانک">
                                            </div>
                                        </div>
                                        <div class="radio pay-post-option">
                                            <label>
                                                <input type="radio" name="payradio">
                                                <span>
                                                    پرداخت از طریق درگاه بانک رسالت
                                                </span>
                                            </label>
                                            <div class="bank-logo">
                                                <img src="{% static "images/Bank-Resalat.png" %}" alt="لوگو بانک">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="final-price">
                                    <p>
                                        جمع کل با احتساب هزینه ارسال : 
                                       <span class="split-number">
                                           4829000 
                                        </span>
                                        تومان
                                    </p>
                                    <button id="pay-btn" class="btn btn-success">
                                        پرداخت
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}

<script>
    $(".add-sub.add").click(function(){
        var mobileID = $(this).attr('val');
        var color = $(this).attr('val2');
        var guarantee = $(this).attr('val3');

        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:add_single_item_count" %}',
                data: {
                    id: mobileID,
                    color: color,
                    guarantee: guarantee,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status)
                    {
                        $(".main-count[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").text(json.count);
                        $(".total-price-num[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").text(json.total_price);
                        $(".total-factor-price").text(json.total_factor_price)
                        $("#total-price").text(json.total_factor_price).digits();
                        $(".split-number").digits();
                    }
                    else {
                        console.log(json.error)
                    }
                },
                error: function (json) {
                    console.log(json.error)
                }
            }
        )
    })
    $(".add-sub.sub").click(function(){
        var mobileID = $(this).attr('val');
        var color = $(this).attr('val2');
        var guarantee = $(this).attr('val3');

        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:remove_single_item_count" %}',
                data: {
                    id: mobileID,
                    color: color,
                    guarantee: guarantee,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    console.log(json.status)
                    console.log(json.remove)
                    if (json.status) {
                        if (!json.remove)
                        {
                            $(".main-count[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").text(json.count);
                            $(".total-price-num[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").text(json.total_price);
                            $(".total-factor-price").text(json.total_factor_price)
                            $("#total-price").text(json.total_factor_price).digits();
                        }
                        else
                        {
                            $(".card-product-detail-item[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").remove();
                            $(".total-factor-price").text(json.total_factor_price)
                            $("#total-price").text(json.total_factor_price).digits();
                        }
                        $(".split-number").digits();
                    }
                    else {
                        console.log(json.error)
                    }
                },
                error: function (json) {
                    console.log(json.error)
                }
            }
        )
    })

    $(".delete-factor-item-btn").click(function () {
        var mobileID = $(this).attr('val');
        var color = $(this).attr('val2');
        var guarantee = $(this).attr('val3');

        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:remove_item_in_factor" %}',
                data: {
                    id: mobileID,
                    color: color,
                    guarantee: guarantee,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    $(".card-product-detail-item[val='" + mobileID + "'][val2='" + color + "'][val3='" + guarantee + "']").remove();
                    $(".total-factor-price").text(json.total_factor_price).digits();
                    $("#total-price").text(json.total_factor_price).digits();
                     if (json.item_count == 0)
                     {
                         $(".submit-order").prop('disabled', true);
                     }
                },
                error: function (json) {
                    console.log(json.error)
                }
            }
        )
    })

    $(".submit-order").click(function () {
        $(".section-1").remove();
        $(".section-2").show();
    })


    var totalPriceFinal;
    $(".information-next").click(function (){
        var fname = $("#fname").val();
        var lname = $("#lname").val();
        var state = $("#state").val();
        var city = $("#city").val();
        var mobile = $("#cell-number").val();
        var phone = $("#phone-number").val();
        var pre_phone = $("#pre-phone").val();
        var address = $("#address").val();
        var zipcode = $("#postal-code").val();

        var check = true;
        if (fname.length == 0)
        {
            $("#fname").addClass('empty');
            check = false;
        }
        if (lname.length == 0)
        {
            $("#lname").addClass('empty');
            check = false;
        }
        if (state.length == 0)
        {
            $("#state").addClass('empty');
            check = false;
        }
        if (city.length == 0)
        {
            $("#city").addClass('empty');
            check = false;
        }
        if (mobile.length == 0)
        {
            $("#cell-number").addClass('empty');
            check = false;
        }
        if (address.length == 0)
        {
            $("#address").addClass('empty');
            check = false;
        }
        if (zipcode.length == 0)
        {
            $("#postal-code").addClass('empty');
            check = false;
        }

        if (check == false)
        {
            $(".alert-message.empty-info").show();
            return;
        }
        else {
            $.ajax (
                {
                    method: 'POST',
                    url: '{% url "market:add_information_in_factor" %}',
                    data: {
                        state: state,
                        city: city,
                        mobile: mobile,
                        phone: phone,
                        per_city_phone: pre_phone,
                        address: address,
                        zipcode: zipcode,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function(json) {
                        console.log(json.status);
                        totalPriceFinal = json.total_price
                        $(".factor-items-price .split-number").html(json.total_price);
                        var totalPrice = parseInt(29000) + parseInt(json.total_price);
                        $(".factor-total-price .split-number").html(totalPrice);
                        $(".final-price .split-number").html(totalPrice)
                        $(".split-number").digits();
                        $(".section-2").remove();
                        $(".section-3").show();
                    },
                    error: function(json) {
                        console.log(json.error);
                    }
                }
            )
        }
    })


    $("input[type=radio][name=postradio]").on('change', function () {
        if ($("#normal-post").prop('checked'))
        {
            $(".factor-post-price .split-number").html('<span class="split-number">' + 12000 + '</span>');
            var totalPrice = parseInt(12000) + parseInt(totalPriceFinal);
            $(".factor-total-price .split-number").html(totalPrice);
            $(".final-price .split-number").html(totalPrice)
        }
        else if ($("#fast-post").prop('checked'))
        {
            $(".factor-post-price .split-number").html('<span class="split-number">' + 29000 + '</span>');
            var totalPrice = parseInt(29000) + parseInt(totalPriceFinal);
            $(".factor-total-price .split-number").html(totalPrice);
            $(".final-price .split-number").html(totalPrice)
        }
        $(".split-number").digits();
    })

    $("#pay-btn").click(function () {
        var postPrice = $("#normal-post").prop('checked') ? 12000 : 29000;

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
            confirmButton: 'btn btn-success ml-3',
            cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
      
      swalWithBootstrapButtons.fire({
        title: 'وضعیت پرداخت',
        text: "پرداخت موفقیت آمیز بود؟",
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'بله',
        cancelButtonText: 'خیر',
        reverseButtons: false
      }).then((result) => {
        if (result.isConfirmed) {
            $.ajax(
            {
                method: 'POST',
                url: '{% url "market:pay-card" %}',
                data: {
                    post_price: postPrice,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    console.log(json.status)
                    swalWithBootstrapButtons.fire({
                        title: 'موفق',
                        text: 'سفارش با موفقیت ثبت شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                    })
                },
                error: function (json) {
                    console.log(json.error)
                }
            }
        )
          
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire({
            title: 'نا موفق',
            text: 'پرداخت با مشکل مواجه شد!',
            icon: 'error',
            confirmButtonText: 'باشه',
            })
        }
      })
        
    })
        
</script>