{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>مقایسه | فروشگاه موبایل</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <div class="container">
        <div class="whole-card compare-items-card">
            <div class="row">
                <div class="col-12 text-right mb-3">
                    <h4>
                        مقایسه
                    </h4>
                </div>
            </div>
            <div class="row compare-items">
                <div class="col-12">
                    <div class="row flex-nowrap">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-2.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-3.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-4.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-img">
                                <a href="{% url 'product' %}">
                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="row flex-nowrap">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="{% url 'product' %}">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="row flex-nowrap compare-item-row compare-item-title-row">
                        <div class="col-12">
                            <div class="compare-item compare-item compare-item-title">
                                تاریخ معرفی
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                تاریخ میلادی
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div> -->
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                تاریخ شمسی
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div> -->
                    </div>
                    <div class="row flex-nowrap compare-item-row compare-item-title-row">
                        <div class="col-12">
                            <div class="compare-item compare-item-title">
                                طراحی
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                طول و عرض
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <button class="btn btn-primary add-compare-item">
                افزودن مورد جدید
                <i class="far fa-plus"></i>
            </button>
        </div>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}