{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>مقایسه | فروشگاه موبایل</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <div class="container">
        <div class="whole-card compare-items-card">
            <!-- <div class="row">
                <div class="col-12 text-right mb-3 mt-5">
                    <h4>
                        مقایسه
                    </h4>
                </div>
            </div> -->
            <!-- <div class="row compare-items mt-5"> -->
                <!-- <div class="col-12"> -->
                    <!-- <div class="col-2">

                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <img class="w-100" src="{% static "images/product-1.jpg"%}" alt='عکس محصول'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                گوشی موبایل سامسونگ مدل Galaxy Z Fold 2 5G دو سیم کارت ظرفیت 12/256 گیگابایت
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <img class="w-100" src="{% static "images/product-2.jpg"%}" alt='عکس محصول'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                گوشی موبایل موتورولا مدل Razr 5G دو سیم کارت ظرفیت 8/256 گیگابایت
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                تاریخ معرفی
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
                    <!-- <div class="row flex-nowrap">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item-name">
                                <a href="#">
                                    گوشی موبایل سامسونگ گلکسی A51 دوسیم کارت ظرفیت 8/128 گیگابایت
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row compare-item-title-row">
                        <div class="col-12">
                            <div class="compare-item compare-item compare-item-title">
                                تاریخ معرفی
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                تاریخ میلادی
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                2020 August
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                تاریخ شمسی
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                1399 مرداد
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row compare-item-title-row">
                        <div class="col-12">
                            <div class="compare-item compare-item-title">
                                طراحی
                            </div>
                        </div>
                    </div>
                    <div class="row flex-nowrap compare-item-row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-subtitle">
                                طول و عرض
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="compare-item compare-item-value">
                                159 × 77.7 میلیمتر
                            </div>
                        </div>
                    </div>
                </div> -->

                <table class="table compare-table w-100 mt-5">
                    <tr>
                        <td>عکس محصول</td>
                        <td><img src="{% static "images/product-1.jpg" %}" alt="عکس محصول"></td>
                        <td><img src="{% static "images/product-2.jpg" %}" alt="عکس محصول"></td>
                    </tr>
                    <tr>
                        <th>نام</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            گوشی موبایل سامسونگ مدل Galaxy Z Fold 2 5G دو سیم کارت ظرفیت 12/256 گیگابایت
                        </td>
                        <td>
                            گوشی موبایل اپل مدل iPhone 12 Pro Max دوسیم کارت ظرفیت 6/256 گیگابایت
                        </td>
                    </tr>
                    <tr>
                        <th>تاریخ معرفی</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>تاریخ شمسی</td>
                        <td>شهریور 1399</td>
                        <td>آبان 1399</td>
                    </tr>
                    <tr>
                        <td>تاریخ میلادی</td>
                        <td>September 2020</td>
                        <td>2020 November</td>
                    </tr>
                    <tr>
                        <th>طراحی</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>وزن</td>
                        <td>279 گرم</td>
                        <td>228 گرم</td>
                    </tr>
                    <tr>
                        <td>ضخامت</td>
                        <td>تا شده : 16.8 میلی متر<br>
                            تا نشده : 6.9 میلی متر</td>
                        <td>7.4 میلی متر</td>
                    </tr>
                    <tr>
                        <td>طول و عرض</td>
                        <td>تا شده : 159.2×68 میلی متر<br>
                            تا نشده : 159.2×128.2 میلی متر</td>
                        <td>160.8x78.1 میلی متر</td>
                    </tr>
                    <tr>
                        <td>تعداد سیمکارت</td>
                        <td>دو سیم کارت</td>
                        <td>دو سیم کارت</td>
                    </tr>
                    <tr>
                        <th>پردازنده</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>تراشه</td>
                        <td>Qualcomm SM8250 Snapdragon 865+ (7 nm+)</td>
                        <td>Apple A14 Bionic</td>
                    </tr>
                    <tr>
                        <td>پردازنده مرکزی</td>
                        <td>هشت هسته ای</td>
                        <td>شش هسته ای</td>
                    </tr>
                    <tr>
                        <td>پردازنده گرافیکی</td>
                        <td>Adreno 650</td>
                        <td>Apple GPU</td>
                    </tr>
                    <tr>
                        <td>فرکانس پردازنده مرکزی</td>
                        <td>1x3.09 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.8 GHz Kryo 585</td>
                        <td>2x3.1 GHz Firestorm + 4x1.8 GHz Icestorm</td>
                    </tr>
                        <tr>
                            <th>حافظه</th>
                            <th></th>
                            <th></th>
                        </tr>
                    <tr>
                        <td>مقدار RAM</td>
                        <td>12 گیگابایت</td>
                        <td>6 گیگابایت</td>
                    </tr>
                    <tr>
                        <td>حافظه داخلی</td>
                        <td>256 گیگابایت</td>
                        <td>256 گیگابایت</td>
                    </tr>
                    <tr>
                        <th>صدا</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>بلندگو</td>
                        <td><i class="far fa-check"></i></td>
                        <td><i class="far fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>ورودی جک 3.5 میلیمتری صدا</td>
                        <td><i class="far fa-times"></i></td>
                        <td>----</td>
                    </tr>
                </table>
            <button class="btn btn-primary add-compare-item">
                افزودن مورد جدید
                <i class="far fa-plus"></i>
            </button>
        </div>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}