{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>فروشگاه موبایل | Mobile Market</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}
    
    <div class="container text-center">
        <div class="banner-slider">
            {% for slide in Slides %}
                {% if slide.publish %}
                    <div class="slide">
                        <img src="{{slide.image.url}}" alt="اسلاید {{ forloop.counter}}">
                        <div class="text-and-link">
                            {% if slide.link != None %}
                            <p>
                                {{slide.description}}
                            </p>
                            {% endif %}
                            {% if slide.link != None %}
                            <a href="{{slide.link}}" class="btn btn-info">
                                مشاهده
                            </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            
            <div class="arrow prev">
                <i class="far fa-angle-left"></i>
            </div>
            <div class="arrow next">
                <i class="far fa-angle-right"></i>
            </div>
        </div>

        <section class="main-brands">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 mt-3">
                    <a href="{% url 'market:mobile' 'sony' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/sony-logo.png" %}" alt="sony-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 mt-3">
                    <a href="{% url 'market:mobile' 'samsung' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/samsung-logo.png" %}" alt="samsung-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 mt-3">
                    <a href="{% url 'market:mobile' 'huawei' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/huawei-logo.png" %}" alt="huawei-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 mt-3">
                    <a href="{% url 'market:mobile' 'lg' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/lg-logo.png" %}" alt="lg-logo">
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        محصولات ویژه
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    {% for mobile in OffMobiles %}
                    <div class="slider-slick-item">
                        <a href="{% url 'market:product' mobile.slug %}">
                            <img src="{{mobile.index_image.url}}" alt="محصول">
                            <div class="product-title">
                                {{mobile.title}}
                            </div>
                        </a>
                        <div class="product-rate">
                            {% if mobile.total_point >= 4.5 %}
                            <i class="fas fa-star active"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                            {% if mobile.total_point >= 3.5 %}
                            <i class="fas fa-star active"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                            {% if mobile.total_point >= 2.5 %}
                            <i class="fas fa-star active"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                            {% if mobile.total_point >= 1.5 %}
                            <i class="fas fa-star active"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                            {% if mobile.total_point >= 0.5 %}
                            <i class="fas fa-star active"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                <span class="split-number">
                                    {{mobile.real_price}}
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                            <div class="product-price">
                                <span class="split-number">
                                    {{mobile.price}}
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
                <div class="slick-slider-arrows"></div>
            </div>
        </section>

        <section class="blog-banner-section">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'blog:blog_index' %}">
                        <div class="blog-banner">
                            وبلاگ
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        جدیدترین محصولات
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    {% for mobile in LatestMobiles %}
                        <div class="slider-slick-item">
                            <a href="{% url 'market:product' mobile.slug %}">
                                <img src="{{mobile.index_image.url}}" alt="محصول">
                                <div class="product-title">
                                    {{mobile.title}}
                                </div>
                            </a>
                            <div class="product-rate">
                                {% if mobile.total_point >= 4.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.total_point >= 3.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.total_point >= 2.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.total_point >= 1.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.total_point >= 0.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                            </div>
                            <div class="product-prices">
                                {% if mobile.inventory != 0%}
                                    {% if mobile.discount != '0' %}
                                        <div class="product-price-off">
                                            <span class="split-number">
                                                {{mobile.real_price}}
                                            </span>
                                            <span>
                                                تومان
                                            </span>
                                        </div>
                                    {% endif %}
                                    <div class="product-price">
                                        <span class="split-number">
                                            {{mobile.price}}
                                        </span>
                                        <span>
                                            تومان
                                        </span>
                                    </div>
                                {% else %}
                                    <div class="not-available">
                                        ناموجود
                                    </div>
                                {% endif %}
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="social-links-section">
            <div class="row">
                <div class="col-sm-6 col-12 mt-3">
                    <a href="#">
                        <div class="social-link">
                            اینستاگرام
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-12 mt-3">
                    <a href="#">
                        <div class="social-link">
                            تلگرام
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        محبوب ترین
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    {% for mobile in MostRateMobiles %}
                        <div class="slider-slick-item">
                            <a href="{% url 'market:product' mobile.mobile.slug %}">
                                <img src="{{mobile.mobile.index_image.url}}" alt="محصول">
                                <div class="product-title">
                                    {{mobile.mobile.title}}
                                </div>
                            </a>
                            <div class="product-rate">
                                {% if mobile.mobile.total_point >= 4.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.mobile.total_point >= 3.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.mobile.total_point >= 2.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.mobile.total_point >= 1.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% if mobile.mobile.total_point >= 0.5 %}
                                <i class="fas fa-star active"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                            </div>
                            <div class="product-prices">
                                {% if mobile.mobile.inventory != 0%}
                                    {% if mobile.mobile.discount != '0' %}
                                        <div class="product-price-off">
                                            <span class="split-number">
                                                {{mobile.mobile.real_price}}
                                            </span>
                                            <span>
                                                تومان
                                            </span>
                                        </div>
                                    {% endif %}
                                    <div class="product-price">
                                        <span class="split-number">
                                            {{mobile.mobile.price}}
                                        </span>
                                        <span>
                                            تومان
                                        </span>
                                    </div>
                                {% else %}
                                <div class="not-available">
                                    ناموجود
                                </div>
                                {% endif %}
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
    {% block foot %}
    {% include "base/foot.html" %}
    {% endblock %}
    