{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>فروشگاه موبایل | Mobile Market</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}
    
    <div class="container text-center">
        <div class="banner-slider">
            <!-- {.% for banner in banners %.} -->
            <div class="slide">
                <img src="{% static "images/slide-1.jpg" %}" alt="اسلاید اول">
                <div class="text-and-link">
                    <p>
                        <!-- {{banner.text}} -->
                        متن مربوط به اسلایدر
                    </p>
                    <!-- <a href="{{banner.url}}" class="btn btn-info"> -->
                    <a href="#" class="btn btn-info">
                        مشاهده
                    </a>
                </div>
            </div>
            <!-- {.% endfor %.} -->
            <div class="slide">
                <img src="{% static "images/slide-1.png" %}" alt="اسلاید دوم">
                <div class="text-and-link">
                    <p>
                        <!-- {{banner.text}} -->
                        متن مربوط به اسلایدر
                    </p>
                    <a href="#" class="btn btn-danger">
                        مشاهده
                    </a>
                </div>
            </div>
            <div class="slide">
                <img src="{% static "images/slide-1.webp" %}" alt="اسلاید سوم">
                <div class="text-and-link">
                    <p>
                        متن مربوط به اسلایدر
                    </p>
                    <a href="#" class="btn btn-warning">
                        مشاهده
                    </a>
                </div>
            </div>
            <div class="slide">
                <img src="{% static "images/slide-2.jpg" %}" alt="اسلاید چهارم">
                <div class="text-and-link">
                    <p>
                        متن مربوط به اسلایدر
                    </p>
                    <a href="#" class="btn btn-secondary">
                        مشاهده
                    </a>
                </div>
            </div>
            <!-- if banner > 1 -->
            <div class="arrow prev">
                <i class="far fa-angle-left"></i>
            </div>
            <div class="arrow next">
                <i class="far fa-angle-right"></i>
            </div>
            <!-- endif -->
        </div>

        <section class="main-brands">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <a href="{% url 'products' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/sony-logo.png" %}" alt="sony-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <a href="{% url 'products' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/samsung-logo.png" %}" alt="samsung-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <a href="{% url 'products' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/huawei-logo.png" %}" alt="huawei-logo">
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <a href="{% url 'products' %}">
                        <div class="main-brand">
                            <img src="{% static "/images/lg-logo.png" %}" alt="lg-logo">
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        محصولات ویژه
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    <!-- {.% for product in offproducts %.} -->
                    <!-- <div class="slider-slick-item">
                        <a href="{.% url '{.{product.url}.}' %.}">
                            <img src="{.{product.imageurl}.}" alt="محصول">
                            <div class="product-title">
                                {.{product.name}.}
                            </div>
                        </a>
                        <div class="product-rate">
                            {.% if product.rate == 0 %.}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            {.% elif product.rate > 0 and product.rate < 1.5 %.}
                                <i class="fas fa-star ative"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            {.% elif product.rate >= 1.5 and product.rate < 2.5 %.}
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            {.% elif product.rate >= 2.5 and product.rate < 3.5 %.}
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            {.% elif product.rate >= 3.5 and product.rate < 4.5 %.}
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            {.% else %.}
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                            {.% endif %.}
                        </div>
                        <div class="product-prices">
                            {.% if product[0].offprice %.}
                            <div class="product-price-off">
                                <span>
                                    {.{product.offprice}.}
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                            {.% endif %.}
                            <div class="product-price">
                                <span>
                                    {.{product.price}.}
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                        </div>
                    </div> 
                {.% endfor %.}-->
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                <span>
                                    4,800,000
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slider-arrows"></div>
            </div>
        </section>

        <section class="blog-banner-section">
            <div class="row">
                <div class="col-12">
                    <a href="#">
                        <div class="blog-banner">
                            وبلاگ
                            <!-- <img src="{% static "/images/blog-banner.jpg" %}" alt=""> -->
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        جدیدترین محصولات
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                <span>
                                    4,800,000
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="social-links-section">
            <div class="row">
                <div class="col-6">
                    <a href="#">
                        <div class="social-link">
                            اینستاگرام
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="#">
                        <div class="social-link">
                            تلگرام
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section">
            <div class="slider-slick-base">
                <div class="slider-slick-title">
                    <h6>
                        پر بازدیدترین
                    </h6>
                </div>
                <div class="slider-slick product-slider">
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                <span>
                                    4,800,000
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price-off">
                                4,950,000 تومان
                            </div>
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                            <!-- <div class="product-price-off">
                                4,950,000 تومان
                            </div> -->
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                            <!-- <div class="product-price-off">
                                4,950,000 تومان
                            </div> -->
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                            <!-- <div class="product-price-off">
                                4,950,000 تومان
                            </div> -->
                        </div>
                    </div>
                    <div class="slider-slick-item">
                        <a href="{% url 'product' %}">
                            <img src="{% static "/images/default-product.jpg" %}" alt="محصول">
                            <div class="product-title">
                                گوشی موبایل هوآوی مدل P10
                            </div>
                        </a>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-prices">
                            <div class="product-price">
                                4,800,000 تومان
                            </div>
                            <!-- <div class="product-price-off">
                                4,950,000 تومان
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
    {% block foot %}
    {% include "base/foot.html" %}
    {% endblock %}
    