{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>موبایل | فروشگاه موبایل</title>
</head>
<body>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <section class="product-section">
        <div class="container text-right">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 product-sidebar-col">
                    <div class="product-sidebar filter-products-section">
                        <div class="product-types available-filter-div">
                            <div class="custom-control custom-switch d-inline-block search-filters-button">
                                <input type="checkbox" class="custom-control-input search-filters-input" id="available-filter-switch">
                                <label class="custom-control-label search-filters-label" for="available-filter-switch"></label>
                            </div>
                            <span>
                                نمایش کالاهای موجود
                            </span>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                برند
                            </h5>
                            <div class="filter-checkbox filter-brand">

                                {% if inputBrand == '' %}
                                    {% for item in MobileBrands %}
                                        <div class="single-brand-filter">
                                            <label for="brand-{{forloop.counter}}">
                                                {{item}}
                                            </label>
                                            <input val="{{item}}" id="brand-{{forloop.counter}}" type="checkbox" name="brand-check">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for item in MobileBrands %}
                                        <div class="single-brand-filter">
                                            <label for="brand-{{forloop.counter}}">
                                                {{item}}
                                            </label>
                                            <input val="{{item}}" id="brand-{{forloop.counter}}" type="checkbox" name="brand-check" checked>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- <div>
                                    <input id="sony-brand" type="checkbox" name="brand-check">
                                    <label for="sony-brand">
                                        سونی | Sony
                                    </label>
                                </div>
                                <div>
                                    <input id="htc-brand" type="checkbox" name="brand-check">
                                    <label for="htc-brand">
                                        اچ تی سی | HTC
                                    </label>
                                </div>
                                <div>
                                    <input id="apple-brand" type="checkbox" name="brand-check">
                                    <label for="apple-brand">
                                        اپل | Apple
                                    </label>
                                </div>
                                <div>
                                    <input id="xiaomi-brand" type="checkbox" name="brand-check">
                                    <label for="xiaomi-brand">
                                        شیائومی | Xiaomi
                                    </label>
                                </div>
                                <div>
                                    <input id="huawei-brand" type="checkbox" name="brand-check">
                                    <label for="huawei-brand">
                                        هوآوی | Huawei
                                    </label>
                                </div>
                                <div>
                                    <input id="nokia-brand" type="checkbox" name="brand-check">
                                    <label for="nokia-brand">
                                        نوکیا | Nokia
                                    </label>
                                </div>
                                <div>
                                    <input id="glx-brand" type="checkbox" name="brand-check">
                                    <label for="glx-brand">
                                        جی ال ایکس | GLX
                                    </label>
                                </div>
                                <div>
                                    <input id="lg-brand" type="checkbox" name="brand-check">
                                    <label for="lg-brand">
                                        ال جی | LG
                                    </label>
                                </div> -->
                            </div>
                        </div>
                        <div class="product-types filter-price filter-products">
                            <h5>
                                محدوده قیمت
                            </h5>
                            <p>
                                <!-- <label for="amount"></label> -->
                                <input type="text" id="amount" readonly>
                            </p>
                            
                            <div id="filter-price-range"></div>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                رنگ
                            </h5>
                            <div class="filter-checkbox filter-color">
                                {% for item in MobilesColors%}
                                    {% for key, value in item.items %}
                                        <div>
                                            <input val="{{key}}" id="color-{{forloop.parentloop.counter}}" type="checkbox" name="color-check">
                                            <label for="color-{{forloop.parentloop.counter}}">
                                                {{key}}
                                                <div class="color-square" style="background-color: {{value}};"></div>
                                            </label>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <!-- <div>
                                    <input id="brown-color" type="checkbox" name="color-check">
                                    <label for="brown-color">
                                        قهوه ای
                                        <div class="color-square brown-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="silver-color" type="checkbox" name="color-check">
                                    <label for="silver-color">
                                        نقره ای
                                        <div class="color-square silver-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="white-color" type="checkbox" name="color-check">
                                    <label for="white-color">
                                        سفید
                                        <div class="color-square white-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="blue-color" type="checkbox" name="color-check">
                                    <label for="blue-color">
                                        آبی
                                        <div class="color-square blue-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="green-color" type="checkbox" name="color-check">
                                    <label for="green-color">
                                        سبز
                                        <div class="color-square green-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="red-color" type="checkbox" name="color-check">
                                    <label for="red-color">
                                        قرمز
                                        <div class="color-square red-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="yellow-color" type="checkbox" name="color-check">
                                    <label for="yellow-color">
                                        زرد
                                        <div class="color-square yellow-color-square"></div>
                                    </label>
                                </div>
                                <div>
                                    <input id="purple-color" type="checkbox" name="color-check">
                                    <label for="purple-color">
                                        بنفش
                                        <div class="color-square purple-color-square"></div>
                                    </label>
                                </div> -->
                            </div>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                تعداد سیم کارت
                            </h5>
                            <div class="filter-simcard">
                                <div>
                                    <label>
                                        <input id="both-sim" type="radio" name="simcardradio" checked>
                                        <span>
                                            هر دو
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input id="single-sim" type="radio" name="simcardradio">
                                        <span>
                                            تک سیمکارت
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input id="couple-sim" type="radio" name="simcardradio">
                                        <span>
                                            دو سیمکارت
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                حافظه داخلی
                            </h5>
                            <div class="filter-checkbox filter-memory">
                                {% for item in MobileMemories%}
                                    <div>
                                        <label for="memory-{{forloop.counter}}">
                                            {{item}}
                                        </label>
                                        <input val="{{item}}" id="memory-{{forloop.counter}}" type="checkbox" name="memory-check">
                                    </div>
                                {% endfor %}
                                <!-- <div>
                                    <input id="gb-2-memory" type="checkbox" name="memory-check">
                                    <label for="gb-2-memory">
                                        2 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-4-memory" type="checkbox" name="memory-check">
                                    <label for="gb-4-memory">
                                        4 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-8-memory" type="checkbox" name="memory-check">
                                    <label for="gb-8-memory">
                                        8 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-16-memory" type="checkbox" name="memory-check">
                                    <label for="gb-16-memory">
                                        16 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-32-memory" type="checkbox" name="memory-check">
                                    <label for="gb-32-memory">
                                        32 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-64-memory" type="checkbox" name="memory-check">
                                    <label for="gb-64-memory">
                                        64 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-128-memory" type="checkbox" name="memory-check">
                                    <label for="gb-128-memory">
                                        128 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-256-memory" type="checkbox" name="memory-check">
                                    <label for="gb-256-memory">
                                        256 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-512-memory" type="checkbox" name="memory-check">
                                    <label for="gb-512-memory">
                                        512 گیگابایت و بیشتر
                                    </label>
                                </div> -->
                            </div>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                حافظه RAM
                            </h5>
                            <div class="filter-checkbox filter-ram">
                                {% for item in MobileRamMemories%}
                                    <div>
                                        <label for="ram-{{forloop.counter}}">
                                            {{item}}
                                            <input val="{{item}}" id="ram-{{forloop.counter}}" type="checkbox" name="ram-check">
                                        </label>
                                    </div>
                                {% endfor %}
                                
                                <!-- <div>
                                    <input id="gb-2-ram" type="checkbox" name="ram-check">
                                    <label for="gb-2-ram">
                                        2 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-4-ram" type="checkbox" name="ram-check">
                                    <label for="gb-4-ram">
                                        4 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-8-ram" type="checkbox" name="ram-check">
                                    <label for="gb-8-ram">
                                        8 گیگابایت
                                    </label>
                                </div>
                                <div>
                                    <input id="gb-16-ram" type="checkbox" name="ram-check">
                                    <label for="gb-16-ram">
                                        16 گیگابایت و بیشتر
                                    </label>
                                </div> -->
                            </div>
                        </div>
                        <div class="product-types filter-products">
                            <h5>
                                سیستم عامل
                            </h5>
                            <div class=" filter-os">
                                <div>
                                    <input id="android-os" type="checkbox" name="os-check">
                                    <label for="android-os">
                                        اندروید
                                    </label>
                                </div>
                                <div>
                                    <input id="ios-os" type="checkbox" name="os-check">
                                    <label for="ios-os">
                                        ios
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="do-filters">
                            <button id="do-filters-btn" class="btn btn-primary w-100">
                                اعمال فیلتر ها
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="product-main">
                        <div class="product-section-title">
                            <h5>
                                موبایل
                            </h5>
                        </div>
                        <div class="container text-center">
                            <div class="row">
                                <div class="product-main-filter">
                                    <p>مرتب سازی بر اساس :</p>
                                    <div val="favorite" class="filter-item active">محبوب ترین</div>
                                    <div val="newest" class="filter-item">جدیدترین</div>
                                    <div val="mostexpensive" class="filter-item">گران ترین</div>
                                    <div val="cheapest" class="filter-item">ارزان ترین</div>
                                </div>
                            </div>
                            <div class="row mobiles-list">
                                {% if Mobiles|length%}
                                {% for mobile in Mobiles%}
                                    <div class="col-xl-3 col-lg-3 col-sm-4 col-6">
                                        <div class="product">
                                            <a href="{% url 'market:product' mobile.slug %}">
                                                <img src="{{mobile.index_image.url}}" alt="محصول">
                                                <div class="product-title">
                                                    {{mobile.title}}
                                                </div>
                                            </a>
                                            <div class="product-rate">
                                                {% if mobile.total_point >= 4.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 3.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 2.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 1.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 0.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                            </div>
                                            <div class="product-prices">
                                                {% if mobile.inventory != 0 %}
                                                    {% if mobile.discount != '0' %}
                                                        <div class="product-price-off">
                                                            <span class="split-number">
                                                                {{mobile.real_price}}
                                                            </span>
                                                            <span>
                                                                تومان
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                    <div class="product-price">
                                                        <span class="split-number">
                                                            {{mobile.price}}
                                                        </span>
                                                        <span>
                                                            تومان
                                                        </span>
                                                    </div>
                                                {% else %}
                                                    <div class="no-available">
                                                        ناموجود
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor%}
                                {% else %}
                                <div class="col-12">
                                    <div class="alert-message error-message back text-right mb-3">
                                        <div class="alert-message-content error-content">
                                            <i class="fas fa-exclamation-circle"></i>
                                            <div class="alert-message-text error-text">
                                                هیچ موبایلی با این برند وجود ندارد!
                                            </div>
                                        </div>
                                        <div class="close-message close-error-message">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row justify-content-center mt-5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if Mobiles.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page=1">اولی</a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{Mobiles.previous_page_number}}">قبلی</a></li>
                                        {% endif %}
                                        {% for num in Mobiles.paginator.page_range %}
                                            {% if num == Mobiles.number %}
                                                <li class="page-item"><a class="page-link" href="?page={{num}}"><strong>{{num}}</strong></a></li>
                                            {% elif num > Mobiles.number|add:'-3' and num < Mobiles.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if Mobiles.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{Mobiles.next_page_number}}">بعدی</a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{Mobiles.paginator.num_pages}}">آخری</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        


    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
    {% block foot %}
    {% include "base/foot.html" %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            var minimumPrice = parseInt('{{minPrice}}');
            var maximumPrice = parseInt('{{maxPrice}}');

            $( function() {
                $( "#filter-price-range" ).slider({
                range: true,
                min: minimumPrice,
                max: maximumPrice,
                values: [ minimumPrice, maximumPrice ],
                slide: function( event, ui ) {
                    minPrice = ui.values[0];
                    maxPrice = ui.values[1];
                    $( "#amount" ).val( ui.values[ 1 ].toLocaleString() + " تومان" + " - " + ui.values[ 0 ].toLocaleString() + " تومان" );
                }
                });
                $( "#amount" ).val($( "#filter-price-range" ).slider( "values", 1 ).toLocaleString() +
                " تومان" +
                " - " + $( "#filter-price-range" ).slider( "values", 0 ).toLocaleString() +
                " تومان");
            } );

            var inputBrand = '{{inputBrand}}';
            console.log(inputBrand, 'INPUTBRAND');
            
            if (inputBrand != '')
            {
                $(".filter-checkbox.filter-brand").parent().hide();
            }
            
        })

        // $(".product-main-filter .filter-item").click(function (){
        //     $(".mobiles-list").css('opacity', 0.5)

        //     var orderBy = $(this).attr('val');
        //     console.log(orderBy)

        //     $.ajax (
        //         {
        //             method: 'POST',
        //             url: '{.% url "market:orderurl" %.}',
        //             data: {
        //                 orderBy: orderBy,
        //                 csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        //                 action: 'post',
        //             },
        //             success: function (json) {
        //                     $(".filter-item").removeClass('active');
        //                     $(this).addClass('active');
        //                 $(".mobiles-list").html('')
        //                 for (var item of json.mobiles) {

        //                     $(".mobiles-list").append('<div class="col-xl-3 col-lg-3 col-sm-4 col-6">' +
        //                         '<div class="product">' +
        //                             // '<a href="http://localhost:8000/products/mobile/' + json.slug + '">' +
        //                             '<a href="http://localhost:8000/products/mobile/">' +
        //                                 '<img src="{{mobile.index_image.url}}" alt="محصول">' +
        //                                 '<div class="product-title">' +
        //                                     // 'json.title'
        //                                     'امسونگ سیشس شسخصضی تئنسگ' +
        //                                 '</div>' +
        //                             '</a>' +
        //                             '<div class="product-rate">' +
        //                                 // {.% if mobile.total_point >= 4.5 %.}
        //                                 '<i class="fas fa-star active"></i>' +
        //                                 // {.% else %.}
        //                                 '<i class="fas fa-star"></i>' +
        //                                 // {.% endif %.}
        //                                 // {.% if mobile.total_point >= 3.5 %.}
        //                                 '<i class="fas fa-star active"></i>' +
        //                                 // {.% else %.}
        //                                 '<i class="fas fa-star"></i>' +
        //                                 // {.% endif %.}
        //                                 // {.% if mobile.total_point >= 2.5 %.}
        //                                 '<i class="fas fa-star active"></i>' +
        //                                 // {.% else %.}
        //                                 '<i class="fas fa-star"></i>' +
        //                                 // {.% endif %.}
        //                                 // {.% if mobile.total_point >= 1.5 %.}
        //                                 '<i class="fas fa-star active"></i>' +
        //                                 // {.% else %.}
        //                                 '<i class="fas fa-star"></i>' +
        //                                 // {.% endif %.}
        //                                 // {.% if mobile.total_point >= 0.5 %.}
        //                                 '<i class="fas fa-star active"></i>' +
        //                                 // {.% else %.}
        //                                 '<i class="fas fa-star"></i>' +
        //                                 // {.% endif %.}
        //                             '</div>' +
        //                             '<div class="product-prices">' +
        //                                 // {.% if mobile.inventory != 0 %.}
        //                                     // {.% if mobile.discount != '0' %.}
        //                                         '<div class="product-price-off">' +
        //                                             '<span class="split-number">' +
        //                                                 // {{mobile.real_price}}
        //                                             '</span>' +
        //                                             '<span>' +
        //                                                 'تومان' +
        //                                             '</span>' +
        //                                         '</div>' +
        //                                     // {.% endif %.}
        //                                     '<div class="product-price">' +
        //                                         '<span class="split-number">' +
        //                                             // {{mobile.price}}
        //                                         '</span>' +
        //                                         '<span>' +
        //                                             'تومان' +
        //                                         '</span>' +
        //                                     '</div>' +
        //                                 // {.% else %.}
        //                                     '<div class="no-available">' +
        //                                         'ناموجود' +
        //                                     '</div>' +
        //                                 // {.% endif %.}
        //                             '</div>' +
        //                         '</div>' +
        //                     '</div>'
        //                 )
        //                                     }
        //             },
        //             error: function (json) {

        //             }
        //         }
        //     )
        // })
        $("#do-filters-btn").click(function () {
            mobileFilterFunction();
        })

        $(".product-main-filter .filter-item").click(function (){
            $(".product-main-filter .filter-item").removeClass('active');
            $(this).addClass('active');
            mobileFilterFunction();
        })

        mobileFilterFunction = function () {
            var availableFilter = $("#available-filter-switch").prop('checked') ? '1' : '0';
            //Brands
            var brands = [];
            $.each($("input[name='brand-check']:checked"), function(){
                brands.push($(this).attr('val'));
            });


            var bottomRangePrice = $('#filter-price-range').slider("values")[0];
            var topRangePrice = $('#filter-price-range').slider("values")[1];

            var colors = [];
            $.each($("input[name='color-check']:checked"), function(){
                colors.push($(this).attr('val'));
            });
            
            var simcardFilter;
            if( $("#couple-sim").prop('checked'))
            {
                simcardFilter = '2';
            }
            else if ( $("#single-sim").prop('checked'))
            {
                simcardFilter = '1'
            }
            else {
                simcardFilter = '0'
            }
            
            var internalMemory = [];
            
            $.each($("input[name='memory-check']:checked"), function(){
                internalMemory.push($(this).attr('val'));
            });

            var ramMemory = [];
            
            $.each($("input[name='ram-check']:checked"), function(){
                ramMemory.push($(this).attr('val'));
            });

            var os;
            if ( $("#android-os").prop('checked') && !$("#ios-os").prop('checked'))
            {
                os = '1';
            }
            else if (!$("#android-os").prop('checked') && $("#ios-os").prop('checked')) {
                os = '2';
            }
            else {
                os = '0';
            }

            var mobileOrder = $('.filter-item.active').attr('val');
            console.log(mobileOrder, 'MOBILE ORDER');

            $.ajax(
                {
                    method:'POST',
                    url: '{% url "market:mobileFilter" %}',
                    data: {
                        available: availableFilter,
                        brands: brands,
                        min: bottomRangePrice,
                        max: topRangePrice,
                        colors: colors,
                        simcard: simcardFilter,
                        internalMemory: internalMemory,
                        ram: ramMemory,
                        os: os,
                        order: mobileOrder,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function(json) {
                        console.log(json.mobiles);
                        
                        var mobiles = '';
                        for(var item of json.mobiles)
                        {   
                            var count = 0;
                            var average = 0;
                            var points = 0;
                            if (item.point !== null)
                            {
                                for (var x of item.point)
                                {
                                    points += parseFloat(x.productRate);
                                    count++;
                                }
                                average = points / count;
                            }
                            mobiles += '' +
                            '<div class="col-xl-3 col-lg-3 col-sm-4 col-6">' +
                                '<div class="product">' +
                                    '<a href="http://localhost:8000/products/mobile/' + item.slug + '">' +
                                        '<img src="' + item.image + '" alt="محصول">' +
                                        '<div class="product-title">' +
                                            item.title +
                                        '</div>' +
                                    '</a>' +
                                    '<div class="product-rate">'
                                if (average >= 4.5) {
                                    mobiles += '<i class="fas fa-star active"></i>';
                                }
                                else {
                                    mobiles += '<i class="fas fa-star"></i>';
                                }
                                if (average >= 3.5) {
                                    mobiles += '<i class="fas fa-star active"></i>';
                                }
                                else {
                                    mobiles += '<i class="fas fa-star"></i>';
                                }
                                if (average >= 2.5) {
                                    mobiles += '<i class="fas fa-star active"></i>';
                                }
                                else {
                                    mobiles += '<i class="fas fa-star"></i>';
                                }
                                if (average >= 1.5) {
                                    mobiles += '<i class="fas fa-star active"></i>';
                                }
                                else {
                                    mobiles += '<i class="fas fa-star"></i>';
                                }
                                if (average >= 0.5) {
                                    mobiles += '<i class="fas fa-star active"></i>';
                                }
                                else {
                                    mobiles += '<i class="fas fa-star"></i>';
                                }
                            mobiles += '</div>' +
                            '<div class="product-prices">'
                                if (item.inventory > 0)
                                {
                                    var realPrice = (parseInt(item.price) + parseInt(item.discount)).toString();
                                    mobiles += '<div class="product-price-off">' +
                                        '<span class="split-number">' +
                                            realPrice +
                                        '</span>' +
                                        '<span>' +
                                            ' تومان' +
                                        '</span>' +
                                    '</div>' +
                                    '<div class="product-price">' +
                                        '<span class="split-number">' +
                                            item.price +
                                        '</span>' +
                                        '<span>' +
                                            ' تومان' +
                                        '</span>' +
                                    '</div>'
                                }
                                else {
                                    mobiles += '<div class="no-available">' +
                                        'ناموجود' +
                                    '</div>'
                                }
                            mobiles += '</div>' +
                        '</div>' +
                    '</div>'
                        }
                            console.log(mobiles);
                            $(".mobiles-list").html(mobiles);
                            $(".split-number").digits();
                    },
                    error: function (json) {
                        console.log(json.status)
                    }
                }
            )
        }
    </script>