{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}
{% load jformat %}


<title>{{mobile.title}} | فروشگاه موبایل</title>
</head>
<body>

    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-base">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-preview">
                                        <div class="product-gallery">
                                            <div class="slider-slick-single">
                                                <div class="product-gallery-item">
                                                    <img src="{{mobile.index_image.url}}" alt="عکس محصول">
                                                </div>
                                                <!-- <div class="product-gallery-item">
                                                    <img src="{% static "images/product-2.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-3.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-4.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-2.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-3.jpg" %}" alt="عکس محصول">
                                                </div>
                                                <div class="product-gallery-item">
                                                    <img src="{% static "images/product-4.jpg" %}" alt="عکس محصول">
                                                </div> -->
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                {% if favorite %}
                                                    <div class="product-icon add-to-favorite">
                                                        <i id="add-to-favorite" class="fas fa-heart added"></i>
                                                    </div>
                                                {% else %}
                                                    <div class="product-icon add-to-favorite">
                                                        <i id="add-to-favorite" class="fal fa-heart"></i>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <!-- <div class="product-icon add-to-compare">
                                                <i class="fal fa-chart-pie"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-gallery-div">
                                        <div class="slider-slick-gallery">
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{{mobile.index_image.url}}" alt="عکس محصول">
                                            </div>
                                            <!-- <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-2.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-3.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-4.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-1.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-2.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-3.jpg" %}" alt="عکس محصول">
                                            </div>
                                            <div class="product-gallery-item thumbnail">
                                                <img src="{% static "images/product-4.jpg" %}" alt="عکس محصول">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 product-detail text-right">
                            <div class="product-detail-parts">
                                <div class="row">
                                    <div class="col-12 product-detail-1st">
                                        <div class="product-title">
                                            <h6>{{mobile.title}}</h6>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                            <div class="product-rate">
                                                <div class="rating">
                                                    <input id="check-5" type="radio" name="rateradio" hidden >
                                                    <label for="check-5">
                                                        {% if mobile.total_point >= 4.5 %}
                                                            <i class="fas fa-star active"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    </label>
                                                    <input id="check-4" type="radio" name="rateradio" hidden>
                                                    <label for="check-4">
                                                        {% if mobile.total_point >= 3.5 %}
                                                            <i class="fas fa-star active"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    </label>
                                                    <input id="check-3" type="radio" name="rateradio" hidden>
                                                    <label for="check-3">
                                                        {% if mobile.total_point >= 2.5 %}
                                                            <i class="fas fa-star active"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    </label>
                                                    <input id="check-2" type="radio" name="rateradio" hidden>
                                                    <label for="check-2">
                                                        {% if mobile.total_point >= 1.5 %}
                                                            <i class="fas fa-star active"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    </label>
                                                    <input id="check-1" type="radio" name="rateradio" hidden>
                                                    <label for="check-1">
                                                        {% if mobile.total_point >= 0.5 %}
                                                            <i class="fas fa-star active"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="product-rate">
                                                {% if mobile.total_point >= 4.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 3.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 2.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 1.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if mobile.total_point >= 0.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 product-detail-2nd">
                                        <ul class="product-features">
                                            <li class="product-features-item">
                                                سیستم عامل :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'امکانات نرم افزاری' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'نسخه سیستم عامل' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                            <li class="product-features-item">
                                                حافظه داخلی :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'حافظه' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'حافظه داخلی' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                            <li class="product-features-item">
                                                مقدار رم :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'حافظه' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'مقدار RAM' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                            <li class="product-features-item">
                                                دوربین :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'دوربین' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'دوربین' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                            <li class="product-features-item">
                                                تعداد سیم کارت :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'طراحی' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'تعداد سیمکارت' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                            <li class="product-features-item">
                                                باتری :
                                                {% for dict_item in mobile.technical_details %}
                                                    {% for key, value in dict_item.items %}
                                                        {% if key == 'باتری' %}
                                                            {% for y, x in value.items %}
                                                                {% if y == 'نوع باتری' %}
                                                                    {{x}}
                                                                {% elif y == 'ظرفیت باتری' %}
                                                                    {{x}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% if mobile.inventory_by_color != 0 %}
                                    <div class="row">
                                        <div class="col-12 product-detail-3rd">
                                            رنگ : 
                                            <div class="product-color-selection-section">
                                                {% for color in mobile.colors %}
                                                    {% for name, value in color.items %}
                                                        {% for k, v in value.items %}
                                                            {% if v != 0 %}
                                                                {% if forloop.parentloop.parentloop.counter == 1 %}
                                                                    <div class="product-color-selection-item active">
                                                                {% else %}
                                                                    <div class="product-color-selection-item">
                                                                {% endif %}
                                                                        <label for="color-{{forloop.parentloop.parentloop.counter}}">
                                                                            <div class="color-square" style="background:{{k}};"></div>
                                                                            <div class="color-name">
                                                                                {{name}}
                                                                            </div>
                                                                        </label>
                                                                        {% if forloop.parentloop.parentloop.counter == 1 %}
                                                                            <input val="{{name}}" val2="{{k}}" hidden type="radio" name="color-radio" id="color-{{forloop.parentloop.parentloop.counter}}" checked>
                                                                        {% else %}
                                                                            <input val="{{name}}" val2="{{k}}" hidden type="radio" name="color-radio" id="color-{{forloop.parentloop.parentloop.counter}}">
                                                                        {% endif %}
                                                                    </div>
                                                                {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if mobile.guarantees %}
                                <div class="row mt-2 mb-2">
                                    <div class="col-12 product-detail-guarantee d-flex align-items-center">
                                        <div class="title ml-5">
                                            گارانتی:
                                        </div>
                                        <div class="value">
                                            <select class="form-control" name="guarantee" id="guarantee">
                                                {% for guarantee in mobile.guarantees %}
                                                    <option value="{{forloop.counter}}">{{guarantee}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-12 product-detail-4th">
                                        <div class="product-prices">
                                            {% if mobile.inventory_by_color != 0 %}
                                                <div class="main-price">
                                                    <span class="split-number">
                                                        {{mobile.price}}
                                                    </span>
                                                    <span>
                                                        تومان
                                                    </span>
                                                </div>
                                                {% if mobile.discount != '0' %}
                                                    <div class="real-price">
                                                        <span class="split-number">
                                                            {{mobile.real_price}}
                                                        </span>
                                                        <span>
                                                            تومان
                                                        </span>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="no-available">
                                                    ناموجود
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if mobile.inventory_by_color != 0 %}
                                    <div class="row">
                                        <div class="col-12 product-detail-5th">
                                            <button class="btn btn-primary buy-button">
                                                <i class="fas fa-shopping-cart"></i>
                                                افزودن به سبد خرید
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <div class="product-detail-complete">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">بررسی تخصصی</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">جزئیات فنی</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">نظرات</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="expert-check">
                                <h5 class="main-title">بررسی تخصصی</h5>
                                <!-- <div class="expert-check-title">
                                </div> -->
                                <div class="expert-check-body">
                                    {{mobile.description | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="technical-detail">
                                            <h5>جزئیات فنی</h5>
                                            <div class="technical-detail-items">
                                                {% for dict_item in mobile.technical_details %}
                                                    <div class="technical-detail-item">
                                                        {% for key, value in dict_item.items %}
                                                            <div class="title">
                                                                <h6>
                                                                    {{key}}
                                                                </h6>
                                                            </div>
                                                            <div class="container">
                                                                {% for y, x in value.items %}
                                                                    <div class="row mb-2">
                                                                        <div class="col-4">
                                                                            <div class="detail-item detail-title h-100">
                                                                                {{y}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <div class="detail-item detail-value">
                                                                                {% if x == "1"%}
                                                                                    <i class="fas fa-check"></i>
                                                                                {% elif x == "0" %}
                                                                                    <i class="fas fa-times"></i>
                                                                                {% else %}
                                                                                    {{x | safe}}
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="comments">
                                <div class="approved-comments">
                                    <h5 class="comment-section-title">نظرات</h5>
                                    {% for comment, replylist in commentList.items %}
                                        <div class="comment" val="{{comment.id}}">
                                            <div class="commenter-user-name">
                                                {{comment.FK_User.username}}
                                            </div>
                                            <div class="comment-date">
                                                {{ comment.datecreate | jformat:"%Y/%m/%d ساعت %H:%M" }}
                                            </div>
                                            <div class="comment-main">
                                                {{ comment.description }}
                                            </div>
                                            <div class="comment-like-reply">
                                                <div val="{{comment.id}}" class="comment-like">
                                                    <span val="{{comment.id}}" class="comment-like-count">
                                                        {% if comment.likes|length %}
                                                            {{comment.like_count}}
                                                        {% else %}
                                                            0
                                                        {% endif %}
                                                    </span>
                                                    {% if request.user.is_authenticated %}
                                                        <i val="{{comment.id}}" class="fas fa-thumbs-up active"></i>
                                                    {% else %}
                                                        <i class="fas fa-thumbs-up"></i>
                                                    {% endif %}
                                                </div>
                                                {% if request.user.is_authenticated %}
                                                <div class="comment-reply">
                                                    <button val="{{comment.id}}" class="btn btn-secondary reply-btn">
                                                        پاسخ
                                                    </button>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% for reply in replylist %}
                                                <div class="comment">
                                                    <div class="commenter-user-name">
                                                        {{reply.FK_User.username}}
                                                    </div>
                                                    <div class="comment-date">
                                                        {{ reply.datecreate | jformat:"%Y/%m/%d ساعت %H:%M" }}
                                                    </div>
                                                    <div class="comment-main">
                                                        {{ reply.description }}
                                                    </div>
                                                    <div class="comment-like-reply">
                                                        <div val="{{reply.id}}" class="comment-like">
                                                            <span val="{{reply.id}}" class="comment-like-count">
                                                                {% if reply.likes|length %}
                                                                    {{reply.like_count}}
                                                                {% else %}
                                                                    0
                                                                {% endif %}
                                                            </span>
                                                            {% if request.user.is_authenticated %}
                                                                <i val="{{reply.id}}" class="fas fa-thumbs-up active"></i>
                                                            {% else %}
                                                                <i class="fas fa-thumbs-up"></i>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if request.user.is_authenticated %}
                                    <div class="comment-form">
                                        <h5>
                                            نظر شما
                                        </h5>
                                        <p>
                                            نظر خود را از طریق بخش زیر برای ما ارسال کنید.
                                        </p>
                                        <div val="0" class="alert-message error-message front text-right mb-3">
                                            <div class="alert-message-content error-content">
                                                <i class="fas fa-exclamation-circle"></i>
                                                <div class="alert-message-text error-text">
                                                    لطفا فیلد مورد نظر را تکمیل نمائید.
                                                </div>
                                            </div>
                                            <div class="close-message close-error-message">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                        <textarea val="0" name="comment" id="product-comment" class="form-control" cols="20" rows="7" placeholder="نظر خود را در اینجا بنویسید..."></textarea>
                                        <div class="send-comment-btn text-left mt-3">
                                            <button val="0" id="send-comment-btn-id" class="btn btn-primary send-comment">ارسال</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}

<script>
    $(".product-rate input").on('change', function () {
        var productRate = productRateFnc();
        $(".product-rate").find('i').removeClass('active');
        var mobileID = '{{mobile.id}}';
        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:Rate" %}',
                data: {
                    productRate: productRate,
                    mobileID: mobileID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status)
                    {
                        Swal.fire({
                            icon: 'success',
                            title: 'موفق',
                            text: 'رای شما با موفقیت ثبت گردید',
                        })
                    }
                    else
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'رای شما با مشکل مواجه گردید',
                        })
                    }
                },
                error: function (json) {
                    console.log(json.error);
                }
            }
        )
    })

    $(".add-to-favorite i").click(function () {
        var mobileID = '{{mobile.id}}';
        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:addtofavorite" %}',
                data: {
                    mobileID: mobileID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    console.log(json.remove)
                    if (json.status)
                    {
                        if (json.remove == 1)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'موفق',
                                text: ' محصول با موفقیت از لیست علاقه مندی ها حذف شد',
                            })
                            $("#add-to-favorite").toggleClass('fal fas');
                            $("#add-to-favorite").removeClass('added');
                        }
                        else if (json.remove != 1)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'موفق',
                                text: ' محصول با موفقیت به لیست علاقه مندی ها افزوده شد',
                            })
                            $("#add-to-favorite").toggleClass('fal fas');
                            $("#add-to-favorite").addClass('added');
                        }
                    }
                    else
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'افزودن به علاقه مندی ها ممکن نیست',
                        })
                    }
                },
                error: function (json) {
                    console.log(json.error);
                }
            }
        )
    })

    $(document).on("click", ".send-comment", function () {
        var commentID = $(this).attr('val');
        var commentText;
        var mobileID = '{{mobile.id}}';
        if (commentID == '0')
        {
            if ($("#product-comment").val().length != 0)
            {
                commentText = $("#product-comment").val()
                $.ajax (
                    {
                        method: 'POST',
                        url: '{% url "market:createComment" %}',
                        data: {
                            mobileID: mobileID,
                            commentText: commentText,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'post',
                        },
                        success: function(json) {
                            console.log(json.status)
                            if (json.status)
                            {
                                $("#product-comment").val('');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'موفق',
                                    text: 'نظر شما با موفقیت ثبت گردید',
                                })
                                setTimeout (function() {
                                    location.reload();
                                }, 2000)
                            }
                            console.log(json.error)
                        },
                        error: function (json) {
                            console.log(json.status)
                            console.log(json.error)
                        }
                    }
                )
            }
            else
            {
                $(".alert-message.error-message[val='0'").show();
            }
        }
        else
        {
            if ($("textarea[val='" + commentID + "'").val().length != 0)
            {
                commentText = $("textarea[val='" + commentID + "'").val();
                $.ajax (
                    {
                        method: 'POST',
                        url: '{% url "market:replyComment" %}',
                        data: {
                            commentID: commentID,
                            commentText: commentText,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'post',
                        },
                        success: function (json) {
                            console.log(json.status);
                            if (json.status)
                            {
                                $("textarea[val='" + commentID + "'").val('');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'موفق',
                                    text: 'نظر شما با موفقیت ثبت گردید',
                                })
                                setTimeout (function() {
                                    location.reload();
                                }, 2000)
                            }
                            else
                            {
                                console.log(json.error)
                            }
                        },
                        error: function (json) {
                            console.log(json.status)
                            console.log(json.error)
                        }
                    }
                )
            }
            else
            {
                $(".alert-message.error-message[val='" + commentID + "'").show();
            }
        }
    })
    $(document).on("click", ".comment-like i.active", function () {
        var commentID = $(this).attr('val');

        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:likeComment"%}',
                data: {
                    commentID: commentID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status)
                    {
                        console.log(json.likeCount)
                        console.log(json.remove)
                        if (json.remove == 0)
                        {
                            $(".comment-like-count[val='" + commentID + "']").text(json.likeCount);
                            $(".comment-like[val='" + commentID + "']").addClass('nowliked');
                        }
                        else if (json.remove == 1)
                        {
                            $(".comment-like-count[val='" + commentID + "']").text(json.likeCount);
                            $(".comment-like[val='" + commentID + "']").removeClass('nowliked');
                        }
                    }
                    else
                    {
                        console.log(json.error)
                    }
                },
                error: function (json) {
                    console.log(json.status)
                    console.log(json.error)
                }
            }
        )
    })

    //Make Reply Form in Comments
    $(".reply-btn").click(function (e) {
        e.preventDefault();
        $(".reply-form").remove();
        var whichComment = $(this).attr('val');

        $(".comment[val='" + whichComment + "'").append(
        '<div class="reply-form">' +
            '<div val="' + whichComment + '" class="alert-message error-message front text-right mb-3">' +
                '<div class="alert-message-content error-content">' +
                    '<i class="fas fa-exclamation-circle"></i>' +
                    '<div class="alert-message-text error-text">' +
                        'لطفا فیلد مورد نظر را تکمیل نمائید.' +
                    '</div>' +
                '</div>' +
                '<div class="close-message close-error-message">' +
                    '<i class="fas fa-times"></i>' +
                '</div>' +
            '</div>' +
            '<textarea val="' + whichComment + '" name="comment" class="form-control" cols="20" rows="7" placeholder="پاسخ خود را اینجا بنویسید..."></textarea>' +
            '<div class="send-comment-btn text-left mt-3">' +
                '<button val="' + whichComment + '" class="btn btn-primary send-comment">ارسال</button>' +
            '</div>' +
        '</div>')
    })

    $(".buy-button").click(function (){
        var mobileID = '{{mobile.id}}';
        var colorName = $('input[name="color-radio"]:checked').attr('val');
        var colorValue = $('input[name="color-radio"]:checked').attr('val2');
        var guarantee = $("#guarantee option:selected").text();
        if (guarantee == '') {
            guarantee = 'بدون گارانتی';
        }

        $.ajax (
            {
                method: 'POST',
                url: '{% url "market:add_new_item_in_factor" %}',
                data: {
                    id: mobileID,
                    color: colorName,
                    color_value: colorValue,
                    guarantee: guarantee,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status) {
                        $("#total-price").text(json.total_price).digits();
                        if (json.total_price != oldTotalPrice)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'موفق',
                                text: 'محصول با موفقیت به سبد خرید افزوده شد',
                            })
                        }
                        else
                        {
                            Swal.fire({
                                icon: 'error',
                                title: 'اتمام موجودی',
                                text: 'موجودی موبایل به اتمام رسید!',
                            })
                        }
                        oldTotalPrice = json.total_price;
                    }
                    else {
                        console.log(json.error)
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'افزودن به سبد خرید با مشکل مواجه گردید!',
                        })
                    }
                },
                error: function (json) {
                    console.log(json.error)
                }
            }
        )
    })
</script>