{% load i18n static %}
{% load filters %}

{% load jformat %}

{% block head %}
    {% include "base/head.html" %}
{% endblock %}

<title>وبلاگ | {{ThisPost.title}}</title>
</head>

{% block header %}
    {% include "base/header.html" %}
{% endblock %}

<body>
    <div class="container">
        <div class="blog-post">
            <div class="row">
                <div class="col-12">
                    <div class="whole-card text-right">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between post-first-row">
                                    <div class="post-title">
                                        <h4>{{ThisPost.title}}</h4>
                                        <!-- {{ThisPost.get_total_points}.} -->
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="post-rate">
                                            <div class="rating">
                                                <input id="check-5" type="radio" name="rateradio" hidden >
                                                <label for="check-5">
                                                    {% if ThisPost.get_total_points >= 4.5 %}
                                                        <i class="fas fa-star active"></i>
                                                    {% else %}
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                </label>
                                                <input id="check-4" type="radio" name="rateradio" hidden>
                                                <label for="check-4">
                                                    {% if ThisPost.get_total_points >= 3.5 %}
                                                        <i class="fas fa-star active"></i>
                                                    {% else %}
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                </label>
                                                <input id="check-3" type="radio" name="rateradio" hidden>
                                                <label for="check-3">
                                                    {% if ThisPost.get_total_points >= 2.5 %}
                                                        <i class="fas fa-star active"></i>
                                                    {% else %}
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                </label>
                                                <input id="check-2" type="radio" name="rateradio" hidden>
                                                <label for="check-2">
                                                    {% if ThisPost.get_total_points >= 1.5 %}
                                                        <i class="fas fa-star active"></i>
                                                    {% else %}
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                </label>
                                                <input id="check-1" type="radio" name="rateradio" hidden>
                                                <label for="check-1">
                                                    {% if ThisPost.get_total_points >= 0.5 %}
                                                        <i class="fas fa-star active"></i>
                                                    {% else %}
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="post-rate">
                                            {% if ThisPost.get_total_points >= 4.5 %}
                                            <i class="fas fa-star active"></i>
                                            {% else %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if ThisPost.get_total_points >= 3.5 %}
                                            <i class="fas fa-star active"></i>
                                            {% else %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if ThisPost.get_total_points >= 2.5 %}
                                            <i class="fas fa-star active"></i>
                                            {% else %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if ThisPost.get_total_points >= 1.5 %}
                                            <i class="fas fa-star active"></i>
                                            {% else %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if ThisPost.get_total_points >= 0.5 %}
                                            <i class="fas fa-star active"></i>
                                            {% else %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <!-- <div class="post-rate">
                                        <div class="rating">
                                            <input id="check-5" type="radio" name="rateradio" hidden >
                                            <label for="check-5">
                                                <i class="fas fa-star"></i>
                                            </label>
                                            <input id="check-4" type="radio" name="rateradio" hidden>
                                            <label for="check-4">
                                                <i class="fas fa-star"></i>
                                            </label>
                                            <input id="check-3" type="radio" name="rateradio" hidden>
                                            <label for="check-3">
                                                <i class="fas fa-star"></i>
                                            </label>
                                            <input id="check-2" type="radio" name="rateradio" hidden>
                                            <label for="check-2">
                                                <i class="fas fa-star"></i>
                                            </label>
                                            <input id="check-1" type="radio" name="rateradio" hidden>
                                            <label for="check-1">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-content-text">
                                <div class="post-content-img">
                                    <img src="{{ThisPost.slider_image.url}}" alt="عکس پست وبلاگ">
                                </div>
                                {{ThisPost.description | safe}}
                            </div>
                            <div class="post-date text-left">
                                {{ThisPost.publishdate|to_jalali_month}}
                            </div>
                        </div>

                        <div class="comments">
                            <div class="approved-comments">
                                <h5 class="comment-section-title">نظرات</h5>
                                {% for item, replylist in Comments.items %}
                                    <div class="comment" val="{{item.id}}">
                                        <div class="commenter-user-name">
                                            {{item.FK_User.username}}
                                        </div>
                                        <div class="comment-date">
                                            {{item.datecreate | jformat:"%Y/%m/%d ساعت %H:%M" }}
                                        </div>
                                        <div class="comment-main">
                                            {{item.description}}
                                        </div>
                                        <div class="comment-like-reply">
                                            <div class="comment-like">
                                                {% if item.likes|length %}
                                                        {{item.like_count}}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                    {% if request.user.is_authenticated %}
                                                        <i val="{{item.id}}" class="fas fa-thumbs-up active"></i>
                                                    {% else %}
                                                        <i class="fas fa-thumbs-up"></i>
                                                    {% endif %}
                                                <!-- {.{item.likes|length}}
                                                {.% if request.user.is_authenticated %}
                                                    <i class="fas fa-thumbs-up"></i>
                                                {.% endif %} -->
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                <div class="comment-reply">
                                                    <button val="{{item.id}}" class="btn btn-secondary reply-btn">
                                                        پاسخ
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% for reply in replylist %}
                                                <div class="comment">
                                                    <div class="commenter-user-name">
                                                        {{reply.FK_User.username}}
                                                    </div>
                                                    <div class="comment-date">
                                                        {{ reply.datecreate | jformat:"%Y/%m/%d ساعت %H:%M" }}
                                                    </div>
                                                    <div class="comment-main">
                                                        {{ reply.description }}
                                                    </div>
                                                    <div class="comment-like-reply">
                                                        <div class="comment-like">
                                                            {{reply.likes|length}}
                                                            {% if request.user.is_authenticated %}
                                                                <i val="{{reply.id}}" class="fas fa-thumbs-up active"></i>
                                                            {% else %}
                                                                <i class="fas fa-thumbs-up"></i>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="comment-form">
                                    <h5>نظر شما</h5>
                                    <p>نظر خود را از طریق بخش زیر برای ما ارسال کنید.</p>
                                    <textarea val="0" name="comment" id="product-comment" class="form-control" cols="20" rows="7" placeholder="نظر خود را در اینجا بنویسید..."></textarea>
                                    <div class="send-comment-btn text-left mt-3">
                                        <button val="0" class="btn btn-primary send-comment">ارسال</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "base/footer.html" %}
    {% endblock %}
        
    {% block foot %}
        {% include "base/foot.html" %}
    {% endblock %}

</body>
</html>

<script>
    $(".post-rate input").on('change', function () {
        var postRate = productRateFnc();
        $(".post-rate").find('i').removeClass('active');
        var postID = '{{ThisPost.id}}';
        console.log(postID, postRate);
        $.ajax (
            {
                method: 'POST',
                url: '{% url "blog:add_point_in_post" %}',
                data: {
                    point: postRate,
                    id: postID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status)
                    {
                        Swal.fire({
                            icon: 'success',
                            title: 'موفق',
                            text: 'رای شما با موفقیت ثبت گردید',
                        })
                    }
                    else
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'رای شما با مشکل مواجه گردید',
                        })
                    }
                },
                error: function (json) {
                    console.log(json.error);
                }
            }
        )
    })
    
    $(document).on("click", ".send-comment", function (){
        var whichComment = $(this).attr('val');
        var postSlug = '{{ThisPost.slug}}';
        var commentDescription = $("textarea[val='" + whichComment + "'").val();
        
        if (whichComment == '0')
        {
            if ($("#product-comment").val().length != 0)
            {
                $.ajax (
                    {
                        method: 'POST',
                        url: '{% url "blog:ajax_add_new_comment" %}',
                        data: {
                            slug: postSlug,
                            description: commentDescription,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'post',
                        },
                        success: function(json) {
                            console.log(json.status);
                            if (json.status)
                            {
                                
                            }
                            else
                            {
                                console.log(json.error);
                            }
                        },
                        error: function (json) {
                            console.log(json.error);
                        }
                    }
                )
            }
            else
            {
                alert('por kon')
            }
        }
        else
        {
            if ($("textarea[val='" + whichComment + "'").val().length != 0)
            {
                commentText = $("textarea[val='" + whichComment + "'").val();
                $.ajax (
                    {
                        method: 'POST',
                        url: '{% url "blog:replyComment" %}',
                        data: {
                            commentID: whichComment,
                            commentText: commentText,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'post',
                        },
                        success: function (json) {
                            console.log(json.status);
                            if (json.status)
                            {

                            }
                            else
                            {
                                console.log(json.error)
                            }
                        },
                        error: function (json) {
                            console.log(json.status)
                            console.log(json.error)
                        }
                    }
                )
            }
            else
            {
                alert('por kon haji')
            }
        }
    })
    $(".reply-btn").click(function (e) {
        e.preventDefault();
        $(".reply-form").remove();
        var whichComment = $(this).attr('val');

        $(".comment[val='" + whichComment + "'").append(
        '<div class="reply-form">' +
            '<textarea val="' + whichComment + '" name="comment" class="form-control" cols="20" rows="7" placeholder="پاسخ خود را اینجا بنویسید..."></textarea>' +
            '<div class="send-comment-btn text-left mt-3">' +
                '<button val="' + whichComment + '" class="btn btn-primary send-comment">ارسال</button>' +
            '</div>' +
        '</div>')
    })
    $(document).on("click", ".comment-like i.active", function () {
        var commentID = $(this).attr('val');
        console.log(commentID)

        $.ajax (
            {
                method: 'POST',
                url: '{% url "blog:like_or_dislike_comment"%}',
                data: {
                    id: commentID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function (json) {
                    console.log(json.status)
                    if (json.status)
                    {
                        console.log(json.likeCount)
                        console.log(json.remove)
                        if (json.remove == 0)
                        {
                            console.log('add')
                        }
                        else if (json.remove == 1)
                        {
                            console.log('remove')
                        }
                    }
                    else
                    {
                        console.log(json.error)
                    }
                },
                error: function (json) {
                    console.log(json.status)
                    console.log(json.error)
                }
            }
        )
    })
</script>