{% block head %}
    {% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>وبلاگ | فروشگاه موبایل</title>
</head>
<body>
  
{% block header %}
    {% include "base/header.html" %}
{% endblock %}

    <div class="container">
        <div class="blog">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-12">
                    {% for item in PostList %}
                        <div class="whole-card text-right">
                            <div class="blog-post-preview">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="first-row d-flex justify-content-between">
                                            <div class="post-title">
                                                <h5>
                                                    {{item.title}}
                                                </h5>
                                            </div>
                                            <div class="post-rate">
                                                {% if item.get_total_points >= 4.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if item.get_total_points >= 3.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if item.get_total_points >= 2.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if item.get_total_points >= 1.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                                {% if item.get_total_points >= 0.5 %}
                                                <i class="fas fa-star active"></i>
                                                {% else %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-content-preview">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                                            <div class="image-of-post">
                                                <img src="{{item.index_image.url}}" alt="عکس پست">
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-7 col-sm-6 col-12">
                                            <div class="post-content-preview-text">{{item.description | truncatechars:232 | safe}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-link">
                                    <div class="row justify-content-end">
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <a href="{{item.get_url}}" class="btn btn-primary w-100">
                                                مشاهده پست
                                                <i class="fal fa-angle-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row justify-content-center mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if PostList.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">اولی</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{PostList.previous_page_number}}">قبلی</a></li>
                                {% endif %}
                                {% for num in PostList.paginator.page_range %}
                                    {% if num == PostList.number %}
                                        <li class="page-item"><a class="page-link" href="?page={{num}}"><strong>{{num}}</strong></a></li>
                                    {% elif num > PostList.number|add:'-3' and num < PostList.number|add:'3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if PostList.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{PostList.next_page_number}}">بعدی</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{PostList.paginator.num_pages}}">آخری</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            

                <div class="col-lg-3 col-md-4 col-12">
                    <div class="whole-card text-right blog-sidebar">
                        <div class="blog-sidebar-title">
                            <h5>
                                محبوب ترین نوشته ها
                            </h5>
                        </div>
                        {% for item in side_posts %}
                            <a href="#">
                                {{item.post.title}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "base/footer.html" %}
    {% endblock %}
        
    {% block foot %}
        {% include "base/foot.html" %}
    {% endblock %}

</body>
</html>