.dropdown:hover>.dropdown-menu {
    display: block;

}

.dropdown-toggle::after {
    vertical-align: middle;
}

.dropdown-menu {
    margin-top: 0;
    padding: 0;
    text-align: right;
    
    .dropdown-item {
        border-bottom: 1px solid $color-light;
        padding: 10px 5px;
        
        &:last-child {
            border: none;
        }

        &:hover {
            background-color: $color-light;
        }
    }
}