{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>ثبت نام | فروشگاه موبایل</title>
</head>
<body>

    <div class="whole-card information-card text-right">
        <div class="information-card-content">
            <div class="row">
                <div class="col-12">
                    <div class="card-title text-center">
                        <h5>
                            مشخصات
                        </h5>
                    </div>
                </div>
            </div>
            <div class="form-row information-form-row justify-content-center">
                <div class="col-6">
                    <label for="fname">نام</label>
                    <input id="fname" class="form-control" type="text" placeholder="نام...">
                </div>
                <div class="col-6">
                    <label for="lname">نام خانوادگی</label>
                    <input id="lname" class="form-control" type="text" placeholder="نام خانوادگی...">
                </div>
            </div>
            <div class="form-row information-form-row justify-content-center">
                <div class="col-6">
                    <label for="lname">استان</label>
                    <input id="state" class="form-control" type="text" placeholder="استان...">
                </div>
                <!-- <div class="col-6">
                    <label for="township">شهرستان</label>
                    <input id="township" class="form-control" type="text" placeholder="شهرستان...">
                </div> -->
                <div class="col-6">
                    <label for="city">شهر</label>
                    <input id="city" class="form-control" type="text" placeholder="شهر...">
                </div>
            </div>
            <div class="form-row information-form-row justify-content-center">
                <div class="col-6">
                    <label for="cell-number">شماره همراه</label>
                    <input id="cell-number" class="form-control" type="number" placeholder="شماره همراه...">
                </div>
                <div class="col-4">
                    <label for="phone-number">شماره ثابت</label>
                    <input id="phone-number" class="form-control" type="number" placeholder="شماره ثابت...">
                </div>
                <div class="col-2">
                    <label for="pre-phone">پیش شماره</label>
                    <input id="pre-phone" class="form-control" type="number" placeholder="پیش شماره...">
                </div>
            </div>
            <div class="form-row information-form-row justify-content-center">
                <div class="col-12">
                    <label for="address">آدرس</label>
                    <input id="address" class="form-control" type="text" placeholder="آدرس...">
                </div>
            </div>
            <div class="form-row information-form-row justify-content-between align-items-end">
                <div class="col-6">
                    <label for="postal-code">کد پستی</label>
                    <input id="postal-code" class="form-control" type="number" placeholder="کد پستی...">
                </div>
                <div class="col-2 text-left">
                    <button class="btn btn-success">
                        مرحله بعد
                        <i class="fal fa-angle-left"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}