{% block head %}
{% include "base/head.html" %}
{% endblock %}

{% load static %}

<title>ورود | فروشگاه موبایل</title>
</head>
<body>
    
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}

<div class="container">
    <div class="login">
        <div class="whole-card information-card text-right">
            <div class="information-card-content login">
                <div class="row">
                    <div class="col-12">
                        <div class="card-title text-center">
                            <h5>
                                ورود
                            </h5>
                        </div>
                    </div>
                </div>
                <form method="POST" action="{% url 'loginRequest' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="username">نام کاربری</label>
                            <input name="username" id="username" class="form-control" type="text" placeholder="نام کاربری">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="password">رمز عبور</label>
                            <input name="password" id="password" class="form-control" type="password" placeholder="رمز عبور">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="login-button mt-4 mb-3 text-center">
                                <button type="submit" class="btn btn-primary w-100">ورود</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row pb-3 unregistered-text">
                    تا به حال ثبت نام نکرده اید؟
                    &nbsp;
                    <a class="" href="{% url 'register' %}">
                        ثبت نام
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
    
{% block foot %}
{% include "base/foot.html" %}
{% endblock %}